<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<bean id="triangle" class="main.aop.dto.Triangle">
		<property name="name" value="Triangle Name" />
	</bean>
	<bean id="circle" class="main.aop.dto.Circle">
		<property name="name" value="Circle Name" />
	</bean>

	<context:component-scan
		base-package="main.aop.service"></context:component-scan>
	<context:component-scan
		base-package="main.aop.aspect"></context:component-scan>

	<context:annotation-config></context:annotation-config>
	<bean id="xmlAspect" class="main.aop.aspect.XmlAspect"></bean>
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<aop:config>
	<aop:aspect id="xmlAspect" ref="xmlAspect">
		<aop:pointcut expression="execution(* main.aop.dto.Triangle.setName(..))" id="methodAspect"/>
		<aop:before method="printAspect" pointcut-ref="methodAspect"/>
	</aop:aspect>
	</aop:config>
</beans>